body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #00bfff; /* Fondo azul celeste */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000; /* Color negro para los íconos */
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #e0e0e0; /* Fondo gris claro para los elementos de la navegación */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #d1d1d1; /* Fondo gris más oscuro al pasar el cursor */
}

nav ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
