:root {
    --primary-color: #73ff00; 
    --secondary-color: #006400; 
    --accent1-color: #004d00; 
    --accent2-color: #FFD700; 
    --accent3-color: #000000; 
    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;

}

@media (min-width: 750px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        flex: 1 1 100%;
    }

    #menu {
        display: none; 
    }
}
